$primary-color: #5e0944;
$secondary-color: #e0b354;
$dark-grey: #2b2b2b;
$pink-main: #a90093;
$link-color: #b030ca;
$link-visited: #a90093;
$link-active: #bd247d;
$grid-bg: #eca0cc;
$button-bg: rgb(158, 4, 89);
$primary-color-light: lighten($primary-color, 70%);
$primary-color-dark: darken($primary-color, 15%);

