body {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #a90093;
}

header {
  font-size: 16px;
  line-height: 2;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 20px;
  line-height: 2;
}

a {
  color: #b030ca;
}

a:visited {
  color: #a90093;
}

a:hover a:focus {
  text-decoration: none;
}

a:active {
  color: #bd247d;
}

button {
  border: none;
  font-family: inherit;
  line-height: 2;
  background-color: rgb(158, 4, 89);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.button {
  border: none;
  font-family: inherit;
  line-height: 2;
  background-color: rgb(158, 4, 89);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

a {
  color: #5e0944;
}

.experience-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
.experience-table {
  border-collapse: collapse;
  width: 600px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.experience-table th, 
.experience-table td {
  border: 1px solid #ccc;
  padding: 12px;
}

.experience-table th {
  background-color: #f2f2f2;
}

.experience-table tr:hover {
  background-color: #fcd6ed;
  transition: background-color 0.3s ease;
}
.email {
  text-align: center;
}
.socials {
  text-align: center;
}
.send-message {
  margin-left: 5%;
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: rgb(158, 4, 89);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: opacity 0.2s;
  -o-transition-property: opacity 0.2s;
  transition-property: opacity 0.2s;
}
.send-message:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transform: scale(1.1) translateY(-5px);
  -ms-transform: scale(1.1) translateY(-5px);
  transform: scale(1.1) translateY(-5px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile__portrait:hover {
  -webkit-transform: scale(1.1) translateY(-5px);
  -ms-transform: scale(1.1) translateY(-5px);
  transform: scale(1.1) translateY(-5px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list li .navigation-list__item--active {
  text-decoration: none;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}

/* end grid fallback */

@supports (display: grid) {
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    background-color: #f8f8f8;
  }

  .grid__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(33.33% - 20px);
    flex: 0 1 calc(33.33% - 20px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #eca0cc;
    color: rgb(110, 57, 57);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }

  .grid__item:last-child {
    -ms-grid-column: 3;
    grid-column: 3 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

.grid__item:hover {
  -webkit-transform: scale(1.1) translateY(-5px);
  -ms-transform: scale(1.1) translateY(-5px);
  transform: scale(1.1) translateY(-5px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.work_link {
  color: #000;
}

.page-header__item {
  width: 200px;
  height: 70px;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

.button,
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: rgb(158, 4, 89);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: opacity 0.2s;
  -o-transition-property: opacity 0.2s;
  transition-property: opacity 0.2s;
}

.button:hover,
.button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  opacity: 0.8;
  -webkit-transform: scale(1.1) translateY(-5px);
  -ms-transform: scale(1.1) translateY(-5px);
  transform: scale(1.1) translateY(-5px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.about {
  max-width: 700px;
  margin: 0 auto;
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-name: color-change;
  animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
  animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
  animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.location {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: rgb(158, 4, 89);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: opacity 0.2s;
  -o-transition-property: opacity 0.2s;
  transition-property: opacity 0.2s;
}
.location:hover {
cursor: pointer;
  opacity: 0.8;
  -webkit-transform: scale(1.1) translateY(-5px);
  -ms-transform: scale(1.1) translateY(-5px);
  transform: scale(1.1) translateY(-5px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.location-link {
  color: #f2f2f2;
}
.contact-info {
  text-align: center;
  background-color: rgb(247, 224, 242);
}

.profile__portrait_contact {
  float: center;
  width: 250px;
  border-radius: 50%;
}

.profile__portrait_contact:hover {
  -webkit-transform: scale(1.1) translateY(-5px);
  -ms-transform: scale(1.1) translateY(-5px);
  transform: scale(1.1) translateY(-5px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.form {
  max-width: 500px;  
  margin: 0 auto;  
  padding: 20px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.standard-label {
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

input[type="email"],
input[type="tel"],
textarea {
  flex: 1;
}


.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}